#bg {
	position: fixed;
	top: 0px;
	left: 0;

	width: 100%;
}

body {
/*	background-size: cover; /* unnecessary if Home.html img src is present*/
	background-color: #32a852; /* gets overridden by Home.html img */
	font-size: 24px;
}


div.books {
	margin-left: 50%;
	text-align: left;
	padding-left: 60px;

	font-family: Tamsyn, Monospace, Helvetica Neue;
	font-weight: 300;
	font-size: 0.75em;

	position: fixed;
	left: 0px;
	top: 150px;
}

div.books2 {
	margin-right: 50%;
	text-align: right;
	padding-right: 60px;

	font-family: Tamsyn, Monospace, Helvetica Neue;
	font-weight: 300;
	font-size: 0.75em;

	position: fixed;
	right: 0px;
	top: 150px;
}

a:link {
	text-decoration: none;
	color: #dedede;
	cursor: url('file:///Users/t7a9/Documents/startpages/Home_files/cursor.cur'), auto; /* yes its a fucking pope */
	/* cursor: none; /* none sends cursor the fuck out of here; can i use cursor element site-wide? https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
}

a:visited {
	color: #dedede;
}

a:hover {
/*	text-decoration: none; */
	color: #9f1749;
/*	font-weight: 700: */
/*	cursor: wait; */
}
